@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-mono: 'DM Mono', monospace;
    --font-intertight: 'Inter Tight', sans-serif;
    --font-notokr: 'Noto Sans KR', sans-serif;

    --color-navy: oklch(28% 0.12 240);
    --color-btn-dark: #1d1e1f;
    --color-font-gray: #494949;
}
