@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import 'tailwindcss';

@theme {
    /* font */
    --font-mono: 'DM Mono', monospace;
    --font-intertight: 'Inter Tight', sans-serif;
    --font-notokr: 'Noto Sans KR', sans-serif;
    --font-pretendard:
        'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
        system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
        'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;

    /* color */
    --color-title-black: #121212;
    --color-navy: oklch(28% 0.12 240);
    --color-btn-dark: #1d1e1f;
    --color-font-gray: #494949;
    --color-font-gray-deep: #777777;
    --color-education-white: #f8f9fd;
    --color-trust-navy: #152158;
    --color-border-gray: #cccccc;
    --color-bg-ivory: #f8f9fa;
    --color-gray-100: oklch(96.7% 0.003 264.542);
    --color-gray-400: oklch(70.7% 0.022 261.325);
    --color-gray-500: oklch(55.1% 0.027 264.364);
    --color-gray-600: oklch(44.6% 0.03 256.802);
    --color-gray-700: oklch(37.3% 0.034 259.733);
    --color-trust-green: #00ce65;

    /* animation */
    --animate-circle-draw: circle-draw 0.5s ease-out 0.3s both;
    --animate-check-draw: check-draw 0.35s ease-out 0.7s both;
    --animate-fade-out-text: fade-out-text 0.3s ease-out both;
    --animate-fade-in-text: fade-in-text 0.5s ease-out 0.7s both;

    @keyframes circle-draw {
        0% {
            stroke-dashoffset: 157;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes check-draw {
        0% {
            stroke-dashoffset: 36;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes fade-out-text {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
    @keyframes fade-in-text {
        0% {
            opacity: 0;
            display: flex;
        }
        100% {
            opacity: 1;
            display: flex;
        }
    }
}
